<div class="menu-container">

  <div class="logo-wrapper">
    <img src="assets/logo.svg" alt="Logo" />
  </div>

  <h1 class="menu-title">Ürün Menüsü</h1>

  <!-- CATEGORY -->
  <nav class="category-nav" *ngIf="categories?.length">

  <div class="category-scroll">
    <button 
      *ngFor="let c of categories"
      (click)="selectedCategory = c"
      [class.active]="selectedCategory === c"
    >
      {{ c }}
    </button>
  </div>

</nav>

  <!-- TABLE -->
  <div class="table-wrapper" *ngIf="selectedCategory">

    <table>
      <tbody>
        <tr *ngFor="let p of groupedProducts[selectedCategory]">

          <td class="item-name">
            {{ p.name }}
            <div class="item-description">
              {{ p.description }}
            </div>
          </td>

          <td class="item-price">
            {{ p.price | number:'1.0-0' }} ₺
          </td>

        </tr>
      </tbody>
    </table>

    <div *ngIf="!groupedProducts[selectedCategory]?.length" class="no-items">
      Bu kategoride ürün bulunmamaktadır.
    </div>

  </div>
</div>