
<div class="container p-3">

  <!-- Başlık + Hata Mesajı -->
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Room List</h2>
  </div>

  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>

  <!-- Sipariş Listesi -->
  <div *ngIf="rooms?.length; ">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Room No</th>
          <th>Descprition</th>
        </tr>
      </thead>

      <tbody>
      <tr *ngFor="let r of rooms">
        <td>{{ r.roomNo }}</td>
        <td>{{ r.description }}</td>
      </tr>
    </tbody>

    </table>
  </div>
</div>
