
<div class="container p-3">

  <!-- Başlık + Hata Mesajı -->
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Sipariş Listesi</h2>
  </div>

  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>

  <!-- Sipariş Listesi -->
  <div *ngIf="orders?.length; else emptyBlock">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Durum</th>
          <th>Toplam</th>
          <th>Sipariş Tarihi</th>
          <th>Personel Adı</th>
          <th>Oda No</th>
          <th>Adisyon (Adet / Ürün Adı)</th>
          <th>Aksiyonlar</th>
        </tr>
      </thead>

      <tbody>
      <tr *ngFor="let o of orders">
        <td>{{ o.id }}</td>
        <td>{{ o.status }}</td>
        <td>{{ o.total }} TL</td>
        <td>{{ o.createdAt | date:'short' }}</td>
        <td>{{ o.personalName }}</td>
        <td>{{ o.roomNo }}</td>
        <!-- Bills alanı -->
        <td>
          <ul class="mb-0 ps-3">
            <li *ngFor="let b of o.bills">
              <span>Piece: {{ b.piece }}</span> |
              <span>Product Name: {{ b.productName }}</span>
            </li>
          </ul>
        </td>

        <!-- Aksiyon butonları -->
        <td class="d-flex gap-1">
          <button class="btn btn-primary create-btn" (click)="willDeliver(o.id)">Hazırlanıyor</button>
          <button class="btn btn-primary create-btn" (click)="delivered(o.id)">Teslim Edildi</button>
          <button class="btn btn-primary create-btn" (click)="cancel(o.id)">İptal</button>
        </td>
      </tr>
    </tbody>

    </table>
  </div>

  <ng-template #emptyBlock>
    <div class="alert alert-info">Henüz sipariş yok.</div>
  </ng-template>

</div>
